<%- include('header') -%>
<%- include('menu') -%>

<div class="about-section text-center">
    <div class="container mt-4">
        <h1>Tribal Wars</h1>
        <p class="text-justify">Tribal Wars is, as you surely already know, a browser based online strategy game in a Medieval setting, where each player takes control of their own village (and later, villages) to grow and expand, to win fame, power and glory! Will you make your realm prosper? Will you grow to become the top player in the world?
    
            Of course, you are not alone! All around you, other players have the same goals for their villages - to grow, expand, and to conquer. Everyone wants to have the largest empire in the game. You will need to build your village, recruit the troops to defend it and then use your troops to loot and pillage your surrounding villages, be it other players or the barbarians scattered around the map to gain an advantage over your peers.
            
            Some of those around you will be your foes, others will be your friends. You can band up together and join (or even found) tribes to stand together and work together toward ultimate victory!</p>    
    </div>
    </div>
  
  <h2 style="text-align:center">Our Team</h2>
    <div class="container">
      <div class="card">
        <img src="/static/img/usr.png" alt="Koren" style="width:15%">
        <div class="container">
          <h2>Koren Zoltan</h2>
          <p class="title">Developer</p>
          <p>MSc student at BME</p>
          <p>koren.zltn@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
  <%- include('footer') -%>