<%- include('header') -%>
    <h1>Attack village</h1>
    <label for="villages">Target</label>

    <select name="cars" id="cars">
        <option value="azeroth">Azeroth</option>
        <option value="tmit">TMIT City</option>
    </select>
    <div class = "Links">
        <a href="/village/view/1">Cancel</a>
        <form action ="/attack/1/report"><button type="submit">Begin Assault</button></form>
    </div>
<%- include('footer') -%>