<%- include('header') -%>
    <h1>Battle report</h1>
    <p1>Result:</p1><p1 style="color: green;">Victory<br></p1>
    <p1>Looted materials: 42<br></p1>
    <p1>Sir Percival gained a level. He is now Apprentice<br></p1>
    <a href="/village/view/:villageid">Back to village view<br></a>
%- include('footer') -%>