<%- include('header') -%>
    <h1>Edit knight</h1>
    <form action ="/village/view/:villageid">
      <label>New name: </label>
      <input type="Name" placeholder="Enter new name" name="name" required>
      <button type="submit">Create</button>
    </form>
    <div class = "Links">
      <a href="/village/view/:villageid">Cancel</a>
    </div>
<%- include('footer') -%>