<%- include('header') -%>
    <h1>Village 
      <% if(typeof village === 'undefined') { %>
        Creation
      <% }else{ %>
        Rename
      <% } %> 
    </h1>
    <form method ="POST" action ="/village">
      <label>Name: </label>
      <input type="Name" placeholder="Enter name" name="name" required 
      value="<%= (typeof village === 'undefined') ? '' : village.name %> ">
      <input type="submit" value="Create"></input>
    </form>
    <div class = "Links">
      <a 
      href="<%= (typeof village === 'undefined') ? '/village' : '/village/view/' + village._id %>">Cancel</a>
    </div>
<%- include('footer') -%>