<%- include('header') -%>
    <h1>TribalWars Forgotten Password</h1>
    <form action="/">
      <label>Username: </label>
      <input type="text" placeholder="Enter Email" name="emailInput" required>
      <!-- Valahogy úgy kéne, hogy amikor az emailt megadja, felugrik egy ablak az új jelszóval-->
      <label>New Password: </label>
      <input type="password" placeholder="*********" name="passwordInput" required>
      <button type="submit">Change Password</button>
    </form>
    <div class = "Links">
      <a href="/">Cancel</a>
    </div>
<%- include('footer') -%>