<%- include('header') -%>
    <h1>TribalWars User Login</h1>
    <% if(typeof error !== 'undefined') { %>
    <h2> <%= error %> </h2>
    <% } %> 
    <form action ="/village'">
      <label>Username: </label>
      <input type="text" placeholder="Enter Username" name="username" required>
      <label>Password: </label>
      <input type="password" placeholder="*********" name="password" required>
      <button type="submit">Login</button>
    </form>
    <% if(typeof error != 'undefined') { %>
      <div class"alert alert-danger"><%= error %></div>
      <% } %> 
    <div class = "Links">
      <a href="/registration">Registration</a>
      <a href="/forgottenpassword">Forgotten password</a>
    </div>
<%- include('footer') -%>