<%- include('header') -%>
    <h1>TribalWars Registration</h1>
    <form action="/">
      <label>Username: </label>
      <input type="text" placeholder="Enter Username" name="username" required>
      <label>Password: </label>
      <input type="password" placeholder="*********" name="password" required>
      <button type="submit">Registration</button>
    </form>
    <div class = "Links">
      <a href="/">Cancel</a>
    </div>
<%- include('footer') -%>