<%- include('header') -%>
<%- include('menu') -%>

    
    <div class="container">
      <div class="row">
        <div class="col-6 bg-light align-self-auto m-auto mt-5">
          <h1>TribalWars Registration</h1>
          <form method="POST">
            <div class="text-center">
              <h2><% if(typeof error !== 'undefined') { %> <%= error %>  <% } %> </h2>
            </div>
            <div class="mb-3">
              <label for="username" class="form-label mt-2">Username: </label>
              <input type="text" class="form-control" placeholder="Enter Username" id="username" name="username" required>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label mt-2">Email: </label>
              <input type="email" class="form-control" placeholder="sample@email.com" id="email" name="email" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label mt-2">Password: </label>
              <input type="password" class="form-control" placeholder="******" id="password" name="password" required>
            </div>
            <div class="text-center">
              <input type="submit" class="btn-lg btn-primary mb-1" value="Registration"/>
            </div>
            <div class="text-center">
              <a class="btn btn-sm btn-outline-primary mb-3" href="/login" role="button">Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>
<%- include('footer') -%>