<%- include('header') -%>
    <div>
        <h1>Stormwind</h1> 
        <a href="/village/edit/1">Rename</a>
    </div>
    <p1>Materials: 62</p1>
    <h2>Knights</h2>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Level</th>
            <th>Options</th>
        </tr>
        <tr>
            <td>Sir Percival</td>
            <td>Novice</td>
            <td allign='center'><a href="/knight/:villageid/1/edit">Rename</a>|<a href="/village/view/1">Delete</a></td>
        </tr>
        <tr>
            <td>Sir Dleorick</td>
            <td>Veteran</td>
            <td allign='center'><a href="/knight/:villageid/2/edit">Rename</a>|<a href="/village/view/1">Delete</a></td>
        </tr>
    </table>
    <h2>Actions</h2>
    <div class = "Links">
        <a href="/village/addknight/1">Create New Knight (50 Material)</a>
        <a href="/attack/1">Attack</a>
    </div>
<%- include('footer') -%>